<section class="install">
  <h2>Біздің қолданбаны құрылғыңызға орнатыңыз</h2>
  <div class="install-content">
    <ol>
      <li>QR кодын сканерлеңіз</li>
      <p>Біздің қолданбаны бірден жүктеп алу үшін смартфон камерасын QR кодыңа бағыттаңыз</p>
      <li>Қолданбаны жүктеп алыңыз</li>
      <p>Сканерлеуден кейін сілтемені басыңыз және қолданбаны құрылғыңызға орнатыңыз</p>
      <li>Тіркелуден өтіңіз</li>
      <p>Сканерлеуден кейін сілтемені басыңыз және қолданбаны құрылғыңызға орнатыңыз</p>
    </ol>
    <div class="qr-code-placeholder">
      <img src="assets/images/QR.png" alt="QR Code" class="qr-code">
    </div>
  </div>
</section>