<section class="welcome">
    <div class="welcome-section">
        <img src="assets/images/image1.png" alt="Image 1" class="welcome-image" />
    </div>
    <div class="welcome-content">
        <h1>Қош келдіңіз, Think UP AI</h1>
        <p>Біздің қосымша — сөйлеу және психикалық дамуы кешеуілдеген балалар үшін сүйіспеншілікпен жасалған.</p>
    </div>
    <div class="welcome-section">
        <img src="assets/images/image2.png" alt="Image 2" class="welcome-image" />
    </div>
</section>