<footer class="footer">
  <div class="footer-content">
    <p>Егер сізде қандай да бір қиындықтар болса, қолдау көрсету бөліміне хабарласыңыз. Жұмыс уақыты: 9:00-ден 18:00-ге дейін Дүйсенбі - Сенбі</p>
    <p>Бізге қоңырау шалыңыз:</p>
    <p>+7 (777) 828-06-82</p>
    <a href="https://wa.me/7778280682?text=Сәлем!%20Мен%20сізбен%20байланысқым%20келеді." target="_blank">WhatsApp - қа жазыңыз</a>

  </div>
  <div class="footer-links">
    <a href="#">Пользовательское соглашение</a>
    <a href="#">Политика конфиденциальности</a>
  </div>
</footer>