<section class="introduction">
    <div class="introduction-section">
        <img src="assets/images/image3.png" alt="Image 1" class="introduction-image1" />
    </div>
    <div class="introduction-content">
        <b>Мұнда сіз таба аласыз:</b>
        <p>
            Баланың деңгейіне бейімделген ойындар мен бейнесабақтар
            Сөйлеу мен зейінді дамытуға арналған жаттығулар және медитациялар
            Диагностика және мамандарды таңдау мүмкіндігі
            Қарым-қатынас жасау құралдары, ертегілер мен мультфильмдер
        </p>
    </div>
    <div class="introduction-section">
        <img src="assets/images/image4.png" alt="Image 2" class="introduction-image2" />
    </div>
</section>