<section class="reviews">
  <h2>Қолданушылардың пікірлері</h2>
  <div class="review-list">
    <div class="review">
      <p>⭐⭐⭐⭐⭐</p>
      <h3>Бакаева Эльвира</h3>
      <p>Бұл қосымша менің балама үлкен көмек болды! Баламның сөйлеу қабілеті баяу дамып келе жатқан болатын, бірақ ойындар мен карточкалар оны қызықтырып, сөйлеу дағдыларын жақсартты.</p>
    </div>
    <div class="review">
      <p>⭐⭐⭐⭐⭐</p>
      <h3>Тұманбай Таншолпан</h3>
      <p>Қосымша керемет! Біз көп уақытты үйде өткіземіз, ал бұл қосымша баламның дамуына жақсы әсер етті. Мультфильмдер мен медитациялар өте тыныштандырады, ал ойындар оның назарын жақсы аударады.</p>
    </div>
    <div class="review">
      <p>⭐⭐⭐⭐⭐</p>
      <h3>Зухра Айтжанова</h3>
      <p>Қосымшаны ата-аналарға арналған чат-бот үшін жүктедім. Ол менің сұрақтарыма тез әрі нақты жауап берді. Сонымен қатар, медициналық орталықтар туралы ақпарат та өте пайдалы болды.</p>
    </div>
  </div>
</section>